# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [21]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [22]:
# Run this code:

salaries = pd.read_csv('../../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [23]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [14]:
# Your code here:
salaries.isnull().sum(axis = 0).sort_values(ascending=False)

Hourly Rate          25161
Typical Hours        25161
Annual Salary         8022
Salary or Hourly         0
Full or Part-Time        0
Department               0
Job Titles               0
Name                     0
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [16]:
# Your code here:

salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [20]:
# Your code here:
salaries.groupby("Department")["Name"].count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [35]:
# Your code here:
from scipy.stats import stats

rate_hourly_workers = salaries[salaries["Salary or Hourly"] == "Hourly"]["Hourly Rate"]
value = stats.ttest_1samp(rate_hourly_workers, 30)
print(value[1])

# Is the value greater than 1 - 0,95? Answer is NO, so we can reject the first hypothesis.

4.3230240486229894e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [36]:
# Your code here:
rate_salary_workers = salaries[salaries["Salary or Hourly"] == "Salary"]["Annual Salary"]
value = stats.ttest_1samp(rate_salary_workers, 86000)
print(value[1])

# Is the value greater than 1 - 0,95? Answer is NO, so we can reject the first hypothesis.

3.015758519916386e-09

Using the `crosstab` function, find the department that has the most hourly workers.

In [49]:
# Your code here:
pd.crosstab(salaries["Department"], salaries["Salary or Hourly"] == "Hourly")

Salary or Hourly       False  True
Department
ADMIN HEARNG              39      0
ANIMAL CONTRL             62     19
AVIATION                 547   1082
BOARD OF ELECTION        107      0
BOARD OF ETHICS            8      0
BUDGET & MGMT             44      2
BUILDINGS                269      0
BUSINESS AFFAIRS         164      7
CITY CLERK                84      0
CITY COUNCIL             347     64
COMMUNITY DEVELOPMENT    203      4
COPA                     116      0
CULTURAL AFFAIRS          58      7
DISABILITIES              28      0
DoIT                      99      0
FAMILY & SUPPORT         328    287
FINANCE                  516     44
FIRE                    4639      2
GENERAL SERVICES         215    765
HEALTH                   485      3
HUMAN RELATIONS           16      0
HUMAN RESOURCES           75      4
INSPECTOR GEN             87      0
LAW                      367     40
LICENSE APPL COMM          1      0
MAYOR'S OFFICE            77      8
OEMC                     829   1273
POLICE                 13404     10
POLICE BOARD               2      0
PROCUREMENT               90      2
PUBLIC LIBRARY           716    299
STREETS & SAN            336   1862
TRANSPORTN               415    725
TREASURER                 22      0
WATER MGMNT              366   1513

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [59]:
# Your code here:

# We can see the department with most hourly workers is STREET & BAN with 1862.
street_san_hourly = salaries[(salaries["Department"] == "STREETS & SAN") & (salaries["Salary or Hourly"] == "Hourly")]["Hourly Rate"]
value = stats.ttest_1samp(street_san_hourly, 35)
print(value)

# Is the value greater than 1 - 0,95? Answer is yes, so we can not reject the first hypothesis.

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [67]:
# Your code here:

hourly_wage = salaries['Hourly Rate'][salaries['Salary or Hourly'] == 'Hourly']

normal_mean = hourly_wage.mean()
normal_serror = stats.sem(hourly_wage)

t.interval(0.95, len(hourly_wage)-1, loc =normal_mean, scale=normal_serror)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [68]:
# Your code here:
from scipy.stats import t

police_salaried = salaries['Annual Salary'][(salaries['Department'] == 'POLICE') & (salaries['Annual Salary']>0)]

normal_mean = police_salaried.mean()
normal_serror = stats.sem(police_salaried)

t.interval(0.95, len(police_salaried)-1, loc=normal_mean, scale=normal_serror)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [69]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest
proportions_ztest()